@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  
}

body {
  font-weight: 400;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.7;
  color: $main-black;
  padding-bottom: 2rem;
  background-color: $main-red;
}

b {
  font-weight: 500;
}